<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.richluick.nowyoudrink" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:protectionLevel="signature"
        android:name="com.richluick.nowyoudrink.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.richluick.nowyoudrink.permission.C2D_MESSAGE"/>

    <application
        android:name=".NowYouDrinkApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Nowyoudrink" >
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activities.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".ui.activities.LoginActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.richluick.nowyoudrink.LoginActivity" />
        </activity>
        <activity
            android:name=".ui.activities.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:parentActivityName=".ui.activities.LoginActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.richluick.nowyoudrink.LoginActivity" />
        </activity>
        <activity
            android:name=".ui.activities.PersonalProfileActivity"
            android:label="@string/title_user_profile"
            android:parentActivityName=".ui.activities.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.richluick.nowyoudrink.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.EditFriendsActivity"
            android:label="@string/title_edit_friends"
            android:parentActivityName=".ui.activities.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.richluick.nowyoudrink.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.ViewFriendRequestActivity"
            android:label="@string/title_friend_request"
            android:parentActivityName=".ui.activities.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.richluick.nowyoudrink.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.FriendsProfileActivity"
            android:label="Friends Profile"
            android:parentActivityName=".ui.activities.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.richluick.nowyoudrink.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.CreateGroupActivity"
            android:label="@string/title_activity_create_group"
            android:parentActivityName=".ui.activities.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.richluick.nowyoudrink.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.GroupActivity"
            android:label="@string/title_activity_group"
            android:parentActivityName=".ui.activities.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.richluick.nowyoudrink.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.GroupRequestActivity"
            android:label="@string/title_activity_group_request"
            android:parentActivityName=".ui.activities.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.richluick.nowyoudrink.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.EditMembersActivity"
            android:label="Add Members"
            android:parentActivityName=".ui.activities.GroupActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.richluick.nowyoudrink.GroupActivity" />
        </activity>

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.richluick.nowyoudrink" />
            </intent-filter>
        </receiver>

</application>

</manifest>
